<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <appSettings>
        <add key="_regularBallQuantity" value="201" />
        <add key="_randomizeBallSize" value="true" />
        <add key="_velocityConstant" value="1f" />
        <add key="_diameterConstant" value="1f" />

        <add key="_specialBallQuantity" value="3" />
        <add key="_forceType" value="Repel" />
        <add key="_forceConstant" value="60" />
        <add key="_forceRadius" value="20" />
        <add key="_movingIncrement" value="0.05" />
        <add key="_angleIncrement" value="0.02" />
        <add key="_colorSpecialBall" value="true" />

    </appSettings>
</configuration>